<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6"></th>
      <% @data.each do |summary_line| %>
        <th scope="col" class="py-3 px-6"><%= summary_line[:name] %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @data.sample.keys.without(:name).each do |status| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6"><%= status.to_s.capitalize %></td>
        <% @data.each do |summary_line| %>
          <td class="py-3 px-6"><%= summary_line[status] %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">Total</th>
      <% @data.each do |summary_line| %>
        <th scope="col" class="py-3 px-6"><%= @total[summary_line[:name]] %></th>
      <% end %>
    </tr>
    </tfoot>
  </table>
</div>

<div class="text-center py-5 w-full">
  <%= link_to 'Back', :back, class: "py-2 px-3 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>
