<div class="overflow-x-auto relative sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">Imported at</th>
      <th scope="col" class="py-3 px-6">File</th>
      <th scope="col" class="py-3 px-6">Status</th>
      <th scope="col" class="py-3 px-6">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @file_imports.each do |file_import| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6"><%= file_import.created_at %></td>
        <td class="py-4 px-6"><%= file_import.status %></td>
        <td class="py-4 px-6">
          <%= link_to file_import.document.filename, rails_blob_path(file_import.document, disposition: "attachment"), class: "font-medium text-red-600 dark:text-red-500 hover:underline" %>
        </td>
        <td class="py-4 px-6">
          <%= link_to 'Trade Lines', file_import_trade_lines_path(file_import), class: "bg-sky-400 font-semibold text-xs text-white text-center px-2 py-1 mr-2" %>
          <%= link_to 'Summary', file_import_summary_path(file_import), class: "bg-teal-600 font-semibold text-xs text-white text-center px-2 py-1 mr-2" %>
          <%= link_to 'Delete', file_import_path(file_import), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "bg-rose-400 font-semibold text-xs text-white text-center px-2 py-1 mr-2" %>
        </td>
      </tr>
    <% end %>

    <% if @file_imports.none? %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6 text-center" colspan="5"> No imports yet. You could execute the rake task to import JSON
          file with trande lines.
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
