<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">Trade line</th>
      <% @bureaus.each do |bureau| %>
        <th scope="col" class="py-3 px-6"><%= bureau.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @trade_lines.each do |trade_line| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6">
          <span class="mr-2"><%= trade_line.name %></span>
          <%= render partial: 'details_modal', locals: {modal_id: "trade_line_#{trade_line.id}", trade_line: trade_line} %>
        </td>
        <% @bureaus.each do |bureau| %>
          <td class="py-4 px-6"><%= trade_line.items.find { |item| item.bureau_id == bureau.id }&.status %></td>
        <% end %>
      </tr>
    <% end %>

    <% if @trade_lines.none? %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6 text-center" colspan="5"> No trade lines.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="text-center py-5 w-full">
  <%= link_to 'Back', :back, class: "py-2 px-3 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>
